// -----------------------------------------------------------------------------
// Este arquivo contém estilos muito básicos.
// -----------------------------------------------------------------------------

/**
 * Configura um modelo de caixa decente no elemento raiz
 */
 html {
  box-sizing: border-box;
}

/**
 * Faz com que todos os elementos do DOM herdem o box-sizing do elemento pai
 * Como `*` tem uma especificidade de 0, ele não substitui o valor do `html`
 * fazendo com que todos os elementos herdem o valor de box-sizing do elemento raiz
 * Veja: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
*,
*::before,
*::after {
  box-sizing: inherit;
}

/**
 * Estilos básicos para links
 */
a {
  color: $brand-color;
  text-decoration: none;

  @include on-event {
    color: $text-color;
    text-decoration: underline;
  }
}
